# dirs
__pycache__/
__pycache__/helper.cpython-38.pyc
backup/
cache/
data/old/
plots-gnuplot/
plots-python/
maps/out/
maps/*.gif
test/
.vscode/

# files
**/.~lock.*.xlsx#
.DS_Store
~$*.xlsx
index-*.html
.vstags
cache/de-districts/de-districts.json
