**/__pycache__/*
**/.~lock.*.xlsx#
.vscode
.DS_Store

~$*.xlsx
index*.html

**/plots-gnuplot/*
**/plots-python/*
**/backup/*
**/data/de-districts/cache/*
**/test/*
**/old/*
**/cache/**


data/de-districts/ref-de-districts.json
