/__pycache__/

**/.~lock.*.xlsx#
.vscode
.DS_Store

~$*.xlsx
index*.html

/backup/
/cache/
/cache/de-districts/
/data/de-districts/cache/
/data/old/
/old/
/plots-gnuplot/
/plots-python/
/test/


data/de-districts/ref-de-districts.json
data/de-districts/distict_timeseries*.json
